/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */
/*  */
/*  */

body {
  background-color: black;
}

.wrapper {
  width: 100vw;

  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("shiny.svg");
}

.container {
  width: 82.5vw;
}

.section {
  height: 110vh;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing {
}

.globeimg {
  width: 55vw;
}

.textone {
  font-weight: 300;
  font-size: 2em;
}

.texttwo {
  font-weight: 700;
  font-size: 3.25em;
  line-height: 1.2;
}

.textthree {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
}

.arrowimg {
  width: 3.47vw;
}

.offer {
  height: 100vh;
}

.hormozi {
  width: 100%;
}

.offertext {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25;
}

/*  */

.whyus {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.trio {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-evenly;
}

.trioleft {
}

.trioright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.network {
  width: 10.42vw;
}

.textfour {
  font-size: 3.75em;
  font-weight: 700;
}

.textfive {
  font-size: 2.2em;
  margin-bottom: 0.69vw;
}

.textsix {
  font-weight: 300;
  font-size: 1.25em;
  max-width: 50ch;
  line-height: 1.5;
}

/*  */

.ourwork {
  height: 55vh;
}

.textseven {
  font-size: 3em;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 6.55vh 3.5vw;
}

.tips {
  height: 100vh;
}

.igpic {
  width: 20vw;
}

.aigpic5 {
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}

.igpic5 {
  width: 36vw;
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}

.gridig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6.55vh 3.5vw;
}

.test2 {
  width: 35vw;
}

.test3 {
  width: 25vw;
}

.tiktokpng {
  width: 17.36vw;
}

/*  */

.founder {
  height: 20vh;
}

.area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tobypic {
  width: 12.15vw;
  margin-right: 3.47vw;
}

.texteight {
  font-weight: 500;
  font-size: 1.5em;
  max-width: 40ch;
  line-height: 1.75;
}

/*  */
.cta {
  height: 100vh;
}

.textnine {
  font-weight: 700;
  font-size: 3em;
}

.textten {
  font-size: 1.56em;
  max-width: 55ch;
}

.calendly {
  background-color: black;
}

.br {
  height: 0.66vh;
  background-color: white;
  width: 100%;
  margin: 5vh 0;
  border-radius: 6.55vh 3.47vw;
}

.links {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3.5vw;
  margin: 0 0.69vw;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.calendly {
  display: flex;
  justify-content: center;
  outline: solid white 0.35vw;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .texttwo {
    font-size: 5em;
  }
  .offer,
  .whyus {
    height: 60vh;
  }
  .ourwork {
    height: 30vh;
  }
  .founder {
    height: 10vh;
  }
  .cta {
    height: 90vh;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 550px) {
  .calendly {
    max-width: 90vw;
  }
}

.titletext {
  font-family: "Abyssinica SIL", serif;
  font-size: 4em;
}

.calculator {
  /* height: 10vh; */
  font-family: "Inter", sans-serif;
}

.top {
  /* background-color: red; */
  height: 40vh;
  width: 100vw;

  display: flex;
  justify-content: space-evenly;
}

.topleft {
  /* background-color: blueviolet; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.topright {
  /* background-color: blue; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.bottom {
  /* background-color: green; */
  height: 40vh;
  width: 100vw;
}

.bottomtrio {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.trio {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trioname {
  font-size: 1.5em;
  font-weight: 600;
}

.trionumber {
  font-size: 2em;
}

.triocalc {
  font-style: italic;
  font-size: 0.75em;
}

#trionumber3 {
  text-decoration: underline;
}

.input {
  border: solid 2px white;
  color: white;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: transparent;
  margin-left: 25px;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qone,
.qtwo,
.qthree,
.qfour {
  width: 400px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.qtext {
  width: 300px;
}

.roibutton {
  display: inline-block;
  cursor: pointer;
  padding: 18px 48px;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 10px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  font-family: Inter;
}

.roibutton:hover {
  color: white;
  background-color: lightseagreen;
}

.bottomintro {
  text-align: center;
  display: none;
  font-size: 2em;
  font-weight: 600;
}

#bottomintro2 {
  padding: 50px 0;
  font-size: 1.75em;
}

.roilanding {
  height: 50vh;
}
